<div class="header">
    <div class="logo"><a href="/" title="Len"><img src="/img/logo.svg" alt="Len" aria-label="logo" height="20"></a></div>
    <button class="hamburger" aria-label="菜单" onclick="toggleMenu()">☰</button>
    
    <ul class="nav">
        <% for (name in theme.menu) { %>
        <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
        <% } %>
    </ul>
    <script>
        function toggleMenu() {
        var nav = document.querySelector('.nav');
        var button = document.querySelector('.hamburger'); // 获取汉堡菜单按钮
        nav.classList.toggle('active');
        
        // 检查当前图标是☰还是×，并切换
        if (button.innerHTML === "☰") {
            button.innerHTML = "×"; // 切换为×
        } else {
            button.innerHTML = "☰"; // 切换回☰
        }
    }
    </script>

我目前正在全职研究新的 web3 协议。如果您是一位在新加坡时区拥有 5 年以上开发经验的高级工程师，我们正在招聘。我们的堆栈是 Solidity、TypeScript、React 和 React Native。如果您有兴趣，请向我发送您的 GitHub 或简历资料：wwwlenchou#gmai.com
</div>
