---
title: 友情链接
date: 2023-04-26 00:34:27
---


<div class="post-body">
   <div id="links">
      <style>
         @media (max-width: 768px) {
        .card .ava,
        .card .info {
            display: none;
        }
    }
         .links-content{
         margin-top:1rem;
         }
         .link-navigation::after {
         content: " ";
         display: block;
         clear: both;
         }
         .card {
         width: 45%;
         font-size: 1rem;
         padding: 10px 20px;
         border-radius: 4px;
         transition-duration: 0.15s;
         margin-bottom: 1rem;
         display:flex;
         }
         .card:nth-child(odd) {
         float: left;
         }
         .card:nth-child(even) {
         float: right;
         }
         .card:hover {
         transform: scale(1.1);
         box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
         }
         .card a {
         border:none;
         }
         .card .ava {
         width: 3rem!important;
         height: 3rem!important;
         margin:0!important;
         margin-right: 1em!important;
         border-radius:4px;
         }
         .card .card-header {
         font-style: italic;
         overflow: hidden;
         width: 100%;
         }
         .card .card-header a {
         font-style: normal;
         /* color: #2bbc8a; */
         font-weight: bold;
         text-decoration: none;
         }
         .card .card-header a:hover {
         color: #d480aa;
         text-decoration: none;
         }
         .card .card-header .info {
         font-style:normal;
         color:#a3a3a3;
         font-size:14px;
         min-width: 0;
         overflow: hidden;
         white-space: nowrap;
         
    }
         }
      </style>
      <div class="links-content">
         <div class="link-navigation">

            <h2>我的朋友</h2>

            <div class="card">
               <!-- <img class="ava" src="img.jpg" /> -->
               <div class="card-header">
                  <div>
                     <a href="https://xubihang.name">Eric</a>
                  </div>
                  <div class="info">产品经理，产品经理，有个可爱的女儿</div>
               </div>
            </div>


            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://haohailong.net/">郝海龙</a>
                  </div>
                  <div class="info">GRE 讲师、Podcast 主播、诗人，翻译了《动物庄园》。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://immmmm.com/">林木木</a>
                  </div>
                  <div class="info">林老师，WordPress/Bitcron 折腾专业户。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://dearroy.com/">dearroy</a>
                  </div>
                  <div class="info">亲爱的罗伊，保罗主机创始人,出海创业者</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://elizen.me/">上尉诗人</a>
                  </div>
                  <div class="info">Elizen，文艺青年，他的文字有感染力。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://kn007.net/">Kn007</a>
                  </div>
                  <div class="info">多年博客圈好友，WordPress 大佬</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="程序员转行投资人，对区块链、数字币有研究。">代码家</a>
                  </div>
                  <div class="info">程序员转行投资人，对区块链、数字币有研究。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://luolei.org/">罗磊</a>
                  </div>
                  <div class="info">前端大佬，拐走了@杨左</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://www.iclws.com/">从良未遂</a>
                  </div>
                  <div class="info">恶意的想象来自想象者的恶意</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://yufan.me/">雨帆</a>
                  </div>
                  <div class="info">https://yufan.me/</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://laob.me/">毕扬博客</a>
                  </div>
                  <div class="info">十多年博友，ex产品经理，目前在创业卖榴莲</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://www.stylefanr.org/">银河系漫游指南</a>
                  </div>
                  <div class="info">一个白日梦想者的手札</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://www.ianisme.com/">IAN博客</a>
                  </div>
                  <div class="info">iOS 开发，经常分享相关开发经验。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://samwanng.com/">SamWanng</a>
                  </div>
                  <div class="info">少数派的小伙伴，我还欠他一篇约稿</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://imtx.me/">图拉鼎</a>
                  </div>
                  <div class="info">独立开发者，Manico、奇点等是他的作品</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://61.life/">61</a>
                  </div>
                  <div class="info">谜底科技主理人，代表作有 OffScreen、谜底时钟等</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://diygod.cc/">Diygod</a>
                  </div>
                  <div class="info">RSSHub、DPlayer 等知名项目开发者。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://shansing.com/">闪星空间</a>
                  </div>
                  <div class="info">后端开发工程师。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://blog.wpjam.com/">我爱水煮鱼</a>
                  </div>
                  <div class="info">WordPress 知名博客</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://shansing.com/">闪星空间</a>
                  </div>
                  <div class="info">后端开发工程师。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://shansing.com/">闪星空间</a>
                  </div>
                  <div class="info">后端开发工程师。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://shansing.com/">闪星空间</a>
                  </div>
                  <div class="info">后端开发工程师。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://shansing.com/">闪星空间</a>
                  </div>
                  <div class="info">后端开发工程师。</div>
               </div>
            </div>

            <div class="card">
               <div class="card-header">
                  <div>
                     <a href="https://shansing.com/">闪星空间</a>
                  </div>
                  <div class="info">后端开发工程师。</div>
               </div>
            </div>


         </div>
      </div>
   </div>
</div>


